.questions {
    padding: 67px 0px 90px 0px;
    position: relative;
    background-color: #FFFFFF;

    &__title {
        text-align: center;
        font-size: rem(24);
        font-weight: 700;
        line-height: prc(29, 24);
        color: #96032A;
        margin: 0px auto 22px auto;
        margin-bottom: 22px;
    }
}

.question {

    &__block {
        margin-bottom: 6px;
        display: flex;
        justify-content: space-between;
        gap: 19px;
        align-items: center;
        padding: 28px 26px;
        border-radius: 17px;
        background: rgb(21, 21, 21);
    }

    &__number {
        font-size: rem(20);
        font-weight: 700;
        line-height: prc(28, 20);
    }

    &__title {
        font-size: rem(16);
        font-weight: 400;
        line-height: prc(22, 16);
    }

    &__button {
        cursor: pointer;
    }
}





.accordion__item {
    margin: 0 auto 0.5rem 0;
    border-radius: 0.25rem;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 15%);
}

.accordion__header {
    text-align: center;
    font-size: rem(24);
    font-weight: 700;
    line-height: prc(29, 24);
    color: #96032A;
    margin: 0px auto 22px auto;
    margin-bottom: 6px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    color: #fff;
    font-weight: 500;
    background: rgb(17, 17, 17);
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
}

.accordion__button {
    flex-shrink: 0;
    width: 48px;
    height: 48px;   
    background-repeat: no-repeat;
    background-size: 1.25rem;
    content: "";
    transition: transform 0.2s ease-out;
}

.accordion__text {
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    line-height: prc(22, 16);
}

.accordion__item_show .accordion__header::after,
.accordion__item_slidedown .accordion__header::after {
    transform: rotate(-180deg);
}

.accordion__header:hover {
    background: rgb(17, 17, 17);
}

.accordion__item:not(.accordion__item_show) .accordion__header {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.accordion__content {
    padding: 0.85rem 1rem;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;

    font-size: 14px;
    margin-top: -10px;
    background: rgb(31, 31, 31);
}

.accordion__item:not(.accordion__item_show) .accordion__body {
    display: none;
}
